html {
  font-family: sans-serif;
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.shadow {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cont {
  padding: 15px 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.cont-left {
  display: inline;
  float: left;
  width: 50%;
  text-align: justify;
  font-size: 1.2rem;
  font-family: sans-serif;
}

.intro-cont-left {
  padding-top: 55px;
}

.cont-right {
  display: inline;
  float: right;
  width: 50%;
}

.cont-right img {
  width: 100%;
}

.help-hearty-text {
  font-size: 1.5rem;
  font-style: italic;
  color: #22b527;
}

.help-heart-intro {
  text-align: justify;
  font-size: 1.2rem;
  font-family: sans-serif;
}

.help-heart-intro span {
  padding-left: 20px;
}

#auth-buttons {
  text-align: center;
}

.auth-buttons:hover {
  color: white;
  text-decoration: none;
}

.auth-buttons {
  border: 0;
  text-decoration: none;
  padding: 8px;
  cursor: pointer;
  margin: 5px 15px;
  background: #22b527;
  color: white !important;
  width: 85px;
  height: 37px;
  border-radius: 5px;
  font-family: sans-serif;
}

.modal-title {
  color: #22b527;
}

.login-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.login-content input {
  display: block;
  width: 280px;
  text-align: center;
  margin: 15px auto;
}

.main-cont-header {
  font-size: 2rem;
  color: #22b527;
  text-align: center;
}

.home-need {
  text-align: justify;
  font-size: 1.2rem;
  font-family: sans-serif;
}

.home-need span {
  padding-left: 20px;
}

.need-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.need-list li {
  padding-right: 55px;
  text-align: justify;
  font-family: cursive;
  width: 50%;
}

.need-list p:nth-child(2) {
  margin-top: 5px;
}

.team-card {
  background-color: #22b527;
  padding: 15px;
  color: white;
}

.team-desc {
  padding-right: 45px;
}

.team-doc-education {
  font-weight: bold;
  margin-bottom: 0;
}

.team-doc-img {
  width: 150px !important;
  height: 150px;
  float: left;
  border-radius: 520%;
  margin-right: 45px;
}

.team-doc-name {
  text-transform: capitalize;
}

.team-card-body {
  float: right;
  padding-top: 10px;
  width: calc(100% - (195px));
}

.service-img {
  width: 100%;
  padding-right: 45px;
}

.service-cont-right {
  text-align: justify;
  font-size: 1.2rem;
  font-family: sans-serif;
}

.service-desc span:first-child {
  padding-left: 20px;
}

.service-help-title {
  text-align: center;
  font-size: 2rem;
  color: #22b527;
}

#service-help-getstarted {
  height: 400px;
  overflow-y: scroll;
}

.service-help-card {
  padding: 15px;
  margin-bottom: 10px;
}

.service-help-card .auth-buttons {
  margin: 0;
}

.service-help-contents {
  float: left;
}

.service-help-contents p:first-child {
  font-weight: bold;
}

.service-help-number p {
  margin: 0;
}

.service-help-number {
  float: right;
  width: 40px;
  border-radius: 50%;
  background: #737373;
  height: 40px;
  padding: 6px 0 0 13px;
  color: white;
}

nav {
  height: 55px;
}

.nav-cont {
  padding: 0 15px;
}

nav > div {
  height: 100%;
}

nav > div::after {
  clear: both;
  display: block;
  content: "";
}

.logo {
  margin: 0;
  float: left;
  font-size: 1.7rem;
  font-weight: bold;
  color: #22b527;
  height: 100%;
  padding-top: 5px;
}

.logo a:hover {
  color: inherit;
  text-decoration: none;
}

.logo a {
  color: inherit;
  text-decoration: none;
}

#nav-options {
  float: right;
}

#nav-links-cont {
  float: left;
  padding-top: 5px;
  margin-top: 15px;
  display: inline;
  margin-right: 35px;
}

#nav-links a {
  margin-right: 15px;
  color: black;
  font-family: sans-serif;
}

#nav-links a:hover {
  color: #22b527;
  text-decoration: none;
}

.nav-button span {
  margin-left: 15px;
  margin-right: 5px;
}

.nav-button-cont {
  float: right;
  display: inline;
}

.nav-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 15px;
  border: none;
  float: right;
  background: #22b527;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  /* height: 28px; */
  padding: 5px 15px;
  padding-top: px;
  font-family: sans-serif;
  font-weight: bold;
}

.nav-button:hover {
  color: white;
  text-decoration: none;
}

footer {
  margin-top: 50px;
}

#footer-links-cont {
  background-color: #22b527;
}

#footer-links-cont a {
  color: white;
}

#footer-links-cont a:hover {
  color: black;
  text-decoration: none;
}

#footer-policy-cont {
  background-color: #38713a;
}

#footer-policy-cont a:hover {
  color: black;
  text-decoration: none;
}

#footer-links-cont ul {
  list-style: none;
}

#footer-policy-cont ul {
  list-style: none;
  margin: 0;
}

.footer-links-left {
  float: left;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline;
}

#footer-policy-cont li,
.footer-links-left li {
  display: inline;
  margin-right: 15px;
}

#footer-policy-cont a:hover,
#footer-policy-cont li p:hover {
  opacity: 1;
}

#footer-policy-cont a,
#footer-policy-cont li p {
  margin: 0;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  opacity: 0.5;
  display: inherit;
}

.footer-links-right {
  float: right;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer-links-right li {
  display: inline;
  margin-right: 15px;
}

.fa-facebook-f {
  color: blue;
}

.fa-twitter {
  color: #0fb5e6;
}

.fa-pinterest {
  color: red;
}

footer .fab:hover {
  color: white;
  font-size: 1.2rem;
}

.list-item {
  width: 50%;
}

#chat-cont {
  height: 100%;
}

.chat-cont {
  height: 100%;
}

.const-chat-cont {
  height: 100%;
  width: 25%;
  float: left;
}

#const-chat-cont {
  height: calc(100% - (55px));
}

.select-user-cont {
  display: inline;
  border-right: 1px solid;
  float: left;
  text-align: center;
  padding: 15px;
  width: 25%;
  height: 100%;
}

.const-select-user-cont {
  display: inline;
  border-right: 1px solid;
  float: left;
  text-align: center;
  padding: 15px;
  width: 100%;
  height: 100%;
}

.select-user-cont button {
  background: #22b527;
  border: 0;
  margin-top: 15px;
  color: white;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
}

.select-user-cont button:hover {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.9);
}

.messages-master-cont {
  display: inline;
  float: right;
  width: 75%;
  height: 100%;
}

.messages-header {
  padding: 15px;
  height: 45px;
}

.messages-header > p {
  display: inline;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  float: left;
}

.messages-options {
  display: inherit;
  float: right;
}

.messages-body-cont {
  padding: 0 15px 0 15px;
  height: calc(100% - (45px));
}

.messages-cont {
  display: inline;
  float: left;
  width: 75%;
  border-right: 1px solid;
  height: 100%;
}

.message-text-cont {
  height: calc(100% - (35px));
  padding-right: 15px;
  overflow-x: scroll;
  overflow-y: unset;
}

.message {
  margin: 5px;
}

.message-right {
  float: right;
  background: #22b527;
}

.message p {
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100px;
  padding: 5px;
  color: white;
  border-radius: 5px;
}

.message-left {
  color: black !important;
  background-color: #F1F0F0;
}

.user-img {
  display: inline;
  float: left;
}

.user-img img {
  height: 50px;
  width: 50px;
}

.user-cont {
  cursor: pointer;
  background-color: #F1F0F0;
}

.user-cont:hover {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.9);
}

.user-name {
  margin-left: 50px;
}

.user-name p {
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

.user-det-cont {
  float: right;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 25%;
}

.message-send-text-cont {
  height: 35px;
  padding-right: 15px;
}

textarea {
  resize: none;
  height: 35px;
  width: 100%;
  padding: 3px 6px 3px 6px;
  border-radius: 15px;
}

.messages-options i {
  margin-left: 15px;
}

.user-det-cont {
  padding-left: 15px;
  padding-top: 15px;
}

.user-det-cont ul {
  padding: 15px 0 0 15px;
  list-style: none;
}

.user-det-cont ul li {
  padding: 5px 0;
}

.user-det-cont ul li span {
  font-weight: bold;
  margin-left: 5px;
}

.user-det-img {
  text-align: center;
  border-bottom: 1px solid;
}

.user-det-img img {
  width: 150px;
  padding-bottom: 15px;
}

#user-stream-cont {
  width: 100%;
  height: 100%;
}

#problem-cat-cont {
  width: 50%;
  margin: auto;
}

.problem-title {
  text-align: center;
  color: #22b527;
}

.problem-desc {
  text-align: center;
}

.problem-cat-card input {
  height: 20px;
  width: 20px;
  margin-right: 15px;
}

.category-title {
  display: inline;
  font-size: 1.2rem;
  font-weight: bold;
}

.category-description {
  text-align: justify;
  margin-left: 32px;
}

.category-explanation {
  margin-left: 32px;
  font-weight: bold;
}

#consultants-card-cont {
  display: flex;
}

#consultants-card-cont form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline;
}

.consultants-card {
  width: 30%;
  margin-right: 2%;
}

.select-consultants-button {
  display: inline;
  margin: 10px 0 0;
  background: white;
  color: black !important;
}

.team-doc-education span {
  border-radius: 25%;
}

.consultants-details {
  color: black;
  background-color: white;
}

.consultants-details .team-doc-name,
.consultants-details .team-doc-education {
  text-align: center;
}

.consultants-details .card-text {
  text-align: justify;
  margin-top: 15px;
}

#questions-answers input {
  width: 100%;
}

#questions-answers {
  width: 50%;
  margin: auto;
}

#questions-answers ul,
#questions-answers p {
  font-weight: bold;
  font-size: 1.2rem;
}

#questions-answers .auth-buttons {
  float: right !important;
  margin: 0 !important;
}

